@import "tailwindcss";

::selection {
  @apply bg-gray-300 text-gray-900;
}
::-moz-selection {
  @apply bg-gray-300 text-gray-900;
}

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));